@{
    ViewData["Title"] = "Xem Cookie";
    Layout = "~/Views/Instructor/Shared/_InstructorLayout.cshtml";
}

<div class="content-main">
    <h4><i class="bi bi-cookie"></i> Thông tin Cookie</h4>
    <p>@ViewBag.CookieMessage</p>
</div>
